<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barbie.haircut.api.user.service.UserMapper">

    <select id="getUser" resultType="camelMap">
        <![CDATA[
            SELECT *
            FROM user_info where phone = #{phone}
        ]]>
    </select>

    <update id = "updateUserCustomer">
        <![CDATA[
			UPDATE user_info a
			SET
				a.is_customer = #{is_customer}
			WHERE a.phone = #{phone}
		]]>
    </update>

    <update id = "updateUserHairdresser">
        <![CDATA[
			UPDATE user_info a
			SET
				a.is_hairdresser = #{is_hairdresser}
			WHERE a.phone = #{phone}
		]]>
    </update>

    <insert id="registerUser">
        <![CDATA[
           INSERT INTO user_info
            (
                phone
                ,name
                ,password
                ,is_customer
                ,location
            )
            VALUES
            (
                #{phone}
                ,#{name}
                ,#{password}
                ,#{is_customer}
                ,#{location}
            )
        ]]>
    </insert>

</mapper>